body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

}

header, nav, main,aside,footer{
    padding: 20px;
    text-align: center;

}

header{
    background-color: black;
    color:white
}
nav{
    background-color: lightgray;
    color:white;
}

aside{
    background-color: black;
    color: white;
}

footer{
    background-color: lightgray;
    color: white;
}

main{
    display: flex;
    padding: 10 px;
}
.sections{
    background-color: bisque;
    margin: 10px;
    padding:20px;
}
